@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

body {
    font-family: "Roboto Slab", serif;
    background-color: #262e41;
}

#topPanel {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
    flex: 0 0 auto;
}

h1 {
    font-size: 36pt;
}

#visRoot {
    text-align: center;
    flex: 0 0 auto;
}

.cell {
    transform-origin: center;
    transform-box: fill-box;
}

svg {
    overflow: visible;
    box-shadow: 0px -0px 10000px transparent;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-height: 1200px;
}
