@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

body {
    font-family: "Roboto Slab", serif;
}

#topPanel {
    text-align: center;
}

h1 {
    font-size: 36pt;
}

#visRoot {
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: block;
}

.cell {
    transform-origin: center;
    transform-box: fill-box;
}

svg {
    overflow: visible;
    box-shadow: 0px -0px 10000px transparent;
}

#prRoot {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 25px;
}

th,
td {
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    padding-bottom: 5px;
    text-align: center;
}

th {
    font-weight: bold;
}
